<h1>Listing training_centers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @training_centers.each do |training_center| %>
  <tr>
    <td><%= link_to 'Show', training_center %></td>
    <td><%= link_to 'Edit', edit_training_center_path(training_center) %></td>
    <td><%= link_to 'Destroy', training_center, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Training center', new_training_center_path %>
