<div class="page-header">
  <div class="row">
    <div class="span4"><h3><span class="small">Training Calendars</span></h3></div>
    <%= link_to 'Create new calendar', new_training_calendar_path, :class => "btn btn-primary" %>
  </div>

</div>

<table class="table table-striped table-bordered table-condensed">
  <thead>
  <th>Training Center</th>
  <th>Course</th>
  <th>Start date</th>
  <th>End date</th>
  <th>Batch size</th>
  </thead>

  <tbody>
  <% @training_calendars.each do |training_calendar| %>
      <tr>
        <td><%= link_to 'Show', training_calendar %></td>
        <td><%= link_to 'Edit', edit_training_calendar_path(training_calendar) %></td>
        <td><%= link_to 'Destroy', training_calendar, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>