<div class="page-header">
  <div class="row">
    <div class="span4"><h3><span class="small">Create a new training calendar</span></h3></div>
    <%= link_to 'View all training calendars', training_calendars_path, :class => "btn btn-primary" %>
  </div>

</div>


<%= render 'form' %>
