<%= form_tag(training_calendar_trainees_path(params[:training_calendar_id]), :class => "well form-horizontal") do -%>

    <fieldset>
      <% if @trainee.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@trainee.errors.count, "error") %> prohibited this trainee from being adding to this
              batch:</h2>
            <ul>
              <% @trainee.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      

      <div class="actions">
        <%= submit_tag 'Add selected participants', :class => "btn btn-primary" %>
      </div>
    </fieldset>
<% end %>
