<div class="page-header">
  <div class="row">
    <div class="span4">
      <h3>
        <span class="small">Participants in batch #<%= params[:training_calendar_id] %> </span>
      </h3>
    </div>
    <%= link_to 'Assign a new participant to this batch', new_training_calendar_trainee_path,
                :class => "btn btn-primary" %>
  </div>
</div>

<table class="table table-striped table-bordered table-condensed">
  <thead>
  <th>#Id</th>
  <th>First name</th>
  <th>Actions</th>
  </thead>

  <tbody>
  <% @trainees.each do |trainee| %>
      <tr>
        <td><%= trainee.id %></td>
        <td><%= trainee.full_name %></td>
        <td>Remove</td>
      </tr>
  <% end %>
  </tbody>
</table>





