<div class="page-header">
  <div class="row">
    <div class="span10"><h3><span class="small">CVET News Feed</span></h3></div>
  </div>
</div>

<div class="well well-small span11">
  <h4>Training Center Update</h4>

  <div class="newsbox">
    Two <a href="">new training centers</a> were added in Champakulam District of Kerala.
    <div class="metadata">
      12:37 am - 16th May 2012
    </div>
  </div>
</div>

<div class="well well-small span11">
  <h4>Course Update</h4>

  <div class="newsbox">
    A new course in <a href="">Carpentry </a>was added
    <div class="metadata">
      1:37 am - 16th May 2012
    </div>
  </div>
</div>

<div class="well well-small span11">
  <h4>Attendance Newsflash</h4>

  <div class="newsbox">
    The <a href="">Fabric Painting training session at the Ernakulam center </a>saw 100% attendance today
    <div class="metadata">
      1:37 pm - 17th May 2012
    </div>
  </div>
</div>

<div class="well well-small span11">
  <h4>Attendance Newsflash</h4>

  <div class="newsbox">
    The <a href="">Carpentry training session at the Alapuzha center </a> did not happen today due to a local by-election.
    <div class="metadata">
      1:37 pm - 17th May 2012
    </div>
  </div>
</div>




