/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.menu-offset {
    margin-left: 30px;
}

.logout-offset {
    margin-left: 220px;
}

.newsbox {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 13px;
}

.metadata {
    padding-top: 2px;
    font-size: 11px;
    font-style:italic;
    font-weight:500;
}
